*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header div {
  width: 33%;
  display: flex;
  align-items: center;
}

header div img {
  width: 15%;
}

header div h1 {
  text-align: center;
  width: 100%;
}

header div nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header div nav ul {
  display: flex;
  list-style: none;
}

header div nav ul li {
  margin: 0 15px;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 2rem 0;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hidden {
  display: none;
}